/* Paleta de colores */
:root {
    --primario: #5D5C5C;
    --secundario: #707070;
    --footer: #D8D8D8;
    --texto: #fff;
}


/* Estilo general */

p, h1, h2, h3, a, address {
    color: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../fuente/MyriadProRegular.ttf);
}

body {
    font-family: 'Myriad Pro Regular';
}

/* Navbar */

.navbar {
    background-color: #000 !important;
}

.nav-link {
    color: var(--secundario) !important;
}
@media (min-width: 768px) {
    .nav-link {
        border-right: 2.5px solid var(--secundario);
    }
    .nav-link--sinborde {
        border-right: none;
    }
}

/* Introducción */

.intro {
    width: min(90%, 90rem);
    margin: 0 auto;
}

.intro__titulo {
    margin: 3rem 0;
    color: var(--primario);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
}

.intro__img {
    width: 100%;
}

.intro__texto {
    color: var(--secundario);
    font-style: italic;
}

@media (min-width: 768px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        gap: 2rem;
    }
    .intro__titulo {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        font-size: 6rem;
    }
    .intro__img--cuadro {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        max-height: 50rem;
        object-fit: cover;
    }
    .intro__img--logo {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .intro__texto {
        grid-column: 2 / 4;
    }
}

/* Presentación */

.presentacion {
    width: 100%;
    padding: 1rem;
    background-color: var(--primario);
}

.presentacion__titulo,.presentacion__texto {
    text-align: center;
}

.presentacion__titulo {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
}

.pictogramas {
    display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    width: 100%;
    margin: 0 auto;
}

.pictograma {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.pictograma p {
    text-align: center;
    font-style: italic;
}
@media (min-width: 768px) {
    .pictograma {
        width: 30%;
    }
    .pictograma img {
        width: 15rem;
    }
    .pictograma p {
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .pictogramas {
        justify-content: center;
    }
    
    .presentacion__texto {
        font-size: 2rem;
    }
    .pictograma {
        width: 28%;
    }
    .pictograma img {
        /* width: 20rem; */
    }
    .pictograma p {
        font-size: 1.5rem;
    }
}


/*Galería*/

.container-galeria {
    background-image: url('../galeria/imgmockup.png');
    background-size: cover;
    background-repeat: no-repeat; 
    color: #000;
}

.container-galeria_logo {
    width: 75%;
}

.container-galeria_cuadro {
    width: 60%;
    border: 10px solid #121212;
    box-shadow: 5px 10px 50px;
    margin-bottom: 25%;
}

.container-galeria_txt {
    margin-top:7%;
    margin-left: 10%;
    color: black;
}


/* Videos */

.carousel-videos {
    width: 100%;
    padding: 1rem;
}

.carousel__video {
    width: 100%;
    height: 50rem;
}


/* Footer */

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    align-items: center;
    background-color: var(--footer);
}

.footer__contacto {
    width: min(90%, 40rem);
    margin: 0 auto;
}

.footer__img {
    width: 100%;
}

/* Footer Información de contacto */

.footer__contacto .fab,.footer__contacto .far {
    transform: translateY(0.4rem);
    font-size: 2.5rem;
    margin-right: 1rem;
}
@media (min-width: 768px) {
    .footer__contacto .fab,.footer__contacto .far {
        transform: translateY(1rem);
        font-size: 4rem;
    }
}

.footer__info {
    color: #000;
    text-align: center;
}
@media (min-width: 768px) {
    .footer__info {
        text-align: left;
    }
}


/* Footer sección del Mapa */

.footer__mapa {
    width: min(90%, 60rem);
    margin: 0 auto;
}

.footer__iframe {
    width: 100%;
    height: 30rem;
}
@media (min-width: 768px) {
    .footer__iframe {
        height: 40rem;
    }
}