/* Estilo general */

p, h1, h2, h3, a, address {
    color: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../fuente/MyriadProRegular.ttf);
}

body {
    font-family: 'Myriad Pro Regular';
}

/* Introducción */

.intro {
    width: min(90%, 90rem);
    margin: 0 auto;
}

.intro__titulo {
    margin: 3rem 0;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.intro__img {
    width: 100%;
}

.intro__texto {
    color: #000;
    font-style: italic;
}

@media (min-width: 768px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        gap: 2rem;
    }
    .intro__titulo {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .intro__img--cuadro {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        max-height: 50rem;
        object-fit: cover;
    }
    .intro__img--logo {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .intro__texto {
        grid-column: 2 / 4;
    }
}

/*Galería*/

.container-galeria {
    background-image: url('../galeria/imgmockup.png');
    background-size: cover;
}

.container-galeria_logo {
    width: 75%;
}

.container-galeria_cuadro {
    width: 60%;
    border: 10px solid #121212;
    box-shadow: 5px 10px 50px;
    margin-bottom: 25%;
}

.container-galeria_txt {
    margin-left: 10%;
}

/* Footer */

.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

@media (min-width: 768px) {
    .footer {
        flex-flow: row nowrap;
    }
}

/* Sección de Info del Footer */

.footer__info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-bottom: 3px solid #ccc;
}

@media (min-width: 768px) {
    .footer__info {
        flex-flow: row nowrap;
        width: 60%;
        border-bottom: none;
        border-right: 3px solid #ccc;
    }
}

/* Contacto y Menú de Nav. del Footer */

.footer__contacto, .footer__nav {
    width: 100%;
}

@media (min-width: 768px) {
    .footer__contacto, .footer__nav {
        width: 45%;
    }
}

/* Redes sociales del footer */

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

@media (min-width: 768px) {
    .footer__social {
        width: 30%;
    }
}

.footer__social .footer__soc-enlaces {
    font-size: 2.5rem;
}